<h1>Tests</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Questions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<p><%= link_to 'New test', new_test_path %></p>
