<p><%= year %></p>
<p><%= link_to 'TestGuru', github_url('ilya-burinskiy', 'RoRIntroduction'), rel: "nofollow", target: "_blank" %>
<p>
  TestGuru - онлайн система тестирования.<br>
  Она позволяет создавать и проходить различные тесты.
</p>
<p>
  Эта система - одно из заданий онлайн-школы <%= link_to "ThinkNetica", "https://thinknetica.com", rel: "nofollow", target: "_blank" %>
</p>